<!-- <h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
    <!-- HEADER -->
    <header id="main-header">
      <div class="container">
        <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h1><span class="primary-text">aka</span>Web Woman</h1>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="current"><a href="/services">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- SUBHEADER -->
    <!-- <section id="subheader">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </section> -->

    <!-- MAIN PAGE -->
    <!-- <section id="page" class="services">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><span class="primary-text">See</span> What We Offer</h2>
            <ul>
              <li>
                <h3>Web Design & Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>
              <li>
                <h3>Software Development & Programming</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>
              <li>
                <h3>Graphic Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
 -->

 <section id="features">
   <div class="container">
     <div class="row center-xs center-sm center-md center-lg">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <h2>Portfolio</h2>
         <p>with framework </p>
         <!-- ICON ROW 1 -->
         <div class="row center-xs center-sm center-md center-lg">
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <a href="https://colormestraight1.herokuapp.com"><i class=""><%= image_tag ("CMS1.jpg") %></i></a><br>
             <a href="https://colormestraight1.herokuapp.com"><h4>Color Me Straight</h4></a>
             <p>Rails 5 version, Action Cable, CSS5, Pure-CSS Parallax Scrolling </p>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <a href="https://thrilllifeproduction.herokuapp.com"><i class=""><%= image_tag ("TLP3.jpg") %></i></a><br>
             <a href="https://thrilllifeproduction.herokuapp.com"><h4>Thrill Life Productions</h4></a>
             <p>Rails  5 version, SASS, bootstrap', '~> 4.0.0.alpha6, Font-awesome</p>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <a href="https://brainflossff.herokuapp.com"><i class=""></i><%= image_tag ("BF1.jpg") %></a><br>
             <a href="https://brainflossff.herokuapp.com"><h4>BrainFloss</h4></a>
             <p>Rails  5 version, CSS5 Javascript, ScrollMAgic</p>
           </div>
         </div>

         <!-- ICON ROW 2 -->
         <div class="row center-xs center-sm center-md center-lg">
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <i class=""><%= image_tag ("CMS3.jpg") %></i><br>
             <h4>Color Me Straight</h4>
             <p></p>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <i class=""><%= image_tag ("SQ1.jpg") %></i><br>
             <h4>Suicide Squad</h4>
             <p>API, HTML5, CSS5, Javascript</p>
           </div>
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <i class=""><%= image_tag ("JB1.jpg") %></i><br>
             <h4>Jukebox Tavern</h4>
             <p>HTML5, CSS5, Javascript</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>




    <!-- COMPANY -->
    <section id="company">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Contact Us</h4>
            <ul>
              <!-- <li><i class="fa fa-phone"></i> (000)111-1212</li> -->
              <li><i class="fa fa-envelope"></i> akaweb.woman@gmail.com</li>
              <li><i class="fa fa-map"></i> New York, NY</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <!-- <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p> -->
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Newsletter</h4>
            <p>Coming soon</p>
            <form>
              <input type="text" name="email" placeholder="Enter Email">
              <button type="submit" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
