<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


   <body>

     <!-- HEADER -->
         <header id="main-header">
           <div class="container">
             <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                 <h1><span class="primary-text">aka</span>Web Woman</h1>
               </div>
               <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                 <nav id="navbar">
                   <ul>
                     <li class="current"><a href="/">Home</a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/services">Portfolio</a></li>
                     <li><a href="/contact">Contact</a></li>
                   </ul>
                 </nav>
               </div>
             </div>
           </div>
         </header>

         <!-- SHOWCASE -->
         <section id="showcase">
           <div class="container">
             <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
               <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
                 <h1>Welcome to <span class="primary-text">aka</span>Web Woman</h1>
                 <p> We are a passionate team of skilled designers and web developers.</p><p> Providing seamless user experience.</p>
               </div>
             </div>
           </div>
         </section>

         <!-- FEATURES -->
         <section id="features">
           <div class="container">
             <div class="row center-xs center-sm center-md center-lg">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <h2>Our Marketing services</h2><br><br>

                 <!-- <p>with framework </p> -->
                 <!-- ICON ROW 1 -->
                 <div class="row center-xs center-sm center-md center-lg">
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                     <h4><p>Mobile Apps for small businesses</p></h4>
                     <p>It is important to continue evolving your business with the current trends and be prepared to adapt to the next thing. Adding mobile marketing to your marketing strategy is very cost-effective for small businesses and reaches out to a target market that you could be missing out on.</p>
                     <!-- <a href="https://colormestraight1.herokuapp.com"><i class=""><%= image_tag ("CMS1.jpg") %></i></a><br>
                     <a href="https://colormestraight1.herokuapp.com"><h4>Color Me Straight</h4></a>
                     <p>Rails 5 version, Action Cable, CSS5, Pure-CSS Parallax Scrolling </p> -->

                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <h4><p>Custom Websites</p></h4>
                     <p>Our websites are all mobile responsive and shaped around your branding. Features such as contact forms, email marketing, events/bookings, online ordering and an easy drag & drop editor for you to make changes on the fly.</p>
                     <!-- <a href="https://thrilllifeproduction.herokuapp.com"><i class=""><%= image_tag ("TLP3.jpg") %></i></a><br>
                     <a href="https://thrilllifeproduction.herokuapp.com"><h4>Thrill Life Productions</h4></a>
                     <p>Rails  5 version, SASS, bootstrap', '~> 4.0.0.alpha6, Font-awesome</p> -->
                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <h4><p>Social Media Marketing</p></h4>
                     <p>We offer full-service social media management services. We transform your social media presence with high-quality content, daily activity, and engagement with your customers.</p>
                     <!-- <a href="https://brainflossff.herokuapp.com"><i class=""></i><%= image_tag ("BF1.jpg") %></a><br>
                     <a href="https://brainflossff.herokuapp.com"><h4>BrainFloss</h4></a>
                     <p>Rails  5 version, CSS5 Javascript, ScrollMAgic</p> -->
                   </div>
                 </div>

                 <!-- ICON ROW 2 -->
                 <div class="row center-xs center-sm center-md center-lg">
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <p>Stop making your customers search online for your phone number. No more slow wifi and searching. Users can simlpy download your app and have quick one touch access to all of your contact information like email, call, directions and website.</p>
                     <!-- <i class=""><%= image_tag ("CMS3.jpg") %></i><br> -->
                     <!-- <h4>Color Me Straight</h4> -->

                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <p>Websites can take months and cost thousands. Have yours built in a couple days. Save time, money, and frustration.</p>
                     <!-- <i class=""><%= image_tag ("SQ1.jpg") %></i><br> -->
                     <!-- <h4>Suicide Squad</h4> -->
                     <!-- <p>API, HTML5, CSS5, Javascript</p> -->
                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <p>We design and optimize your Facebook, Instagram, and Twitter ads. However our monthly fee doesn’t include any ad budget. That is separate and goes to the social platform to “boost” the advertisment to potential customers who don’t follow you.</p>
                     <!-- <i class=""><%= image_tag ("JB1.jpg") %></i><br> -->
                     <!-- <h4>Jukebox Tavern</h4> -->
                     <!-- <p>HTML5, CSS5, Javascript</p> -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </section>


            <!-- <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
              <h2>What our customers say</h2> -->
              <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol> -->

              <!-- Wrapper for slides -->
              <!-- <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <h4>"This company is the best. I am so happy with the result!"<br><span>Andrew Gonzalez, Vice President, BG Property Finderx</span></h4>
                </div>
                <div class="item">
                  <h4>"One word... WOW!!"<br><span>Christine Serrano, Owner, Thrill Life Productions</span></h4>
                </div>
                <div class="item">
                  <h4>"Could I... BE any more happy with this company?"<br><span>Angel Bart, CEO, Color Me Straight</span></h4>
                </div>
              </div> -->



            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->







         <!-- INFO SECTION -->
         <section id="info">
           <div class="container">
             <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                 <%= image_tag ("computer10_img.png"), class: "img img-img" %>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                 <!-- <h2>Features</h2> -->
                 <ul>
                   <li><i class="fa fa-check"></i> Web Design</li>
                   <li><i class="fa fa-check"></i> Visual Design</li>
                   <li><i class="fa fa-check"></i> Wireframes</li>
                   <li><i class="fa fa-check"></i> Mobile Interface</li>
                   <li><i class="fa fa-check"></i> Prototyping</li>
                   <li><i class="fa fa-check"></i> User Testing</li>
                 </ul>
               </div>
             </div>
           </div>
         </section>

         <!-- COMPANY -->
         <section id="company">
           <div class="container">
             <div class="row">
               <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <h4>Contact Us</h4>
                 <ul>
                   <!-- <li><i class="fa fa-phone"></i>  (000)111-1212</li> -->
                   <li><i class="fa fa-envelope"></i>akaweb.woman@gmail.com</li>
                   <li><i class="fa fa-map"></i> New York, NY</li>
                 </ul>
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <!-- <h4>About Us</h4>
                 <p>Our passions in the Design Studio is building. Our designers are not only creative visual and UX designers, but also creative front-end developers. We are always researching and practicing the best ways to build our frameworks, and like to craft durable, easily changeable layouts.</p> -->
               </div>
               <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <h4>Newsletter</h4>
                 <p>Coming soon</p>
                 <form>
                   <input type="text" name="email" placeholder="Enter Email">
                   <button type="submit" name="button">Submit</button>
                 </form>
               </div>
             </div>
           </div>
         </section>

         <!-- FOOTER -->
         <footer id="main-footer">
           <div class="container">
             <div class="row center-xs center-sm center-md center-lg">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <p></p>
               </div>
             </div>
           </div>
         </footer>

   </body>
